/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.link {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Day Mode */
body.day {
    background-color: #F5F5F5; /* Light Gray */
    color: #333333; /* Dark Gray */
}

.container.day {
    background-color: #FFFFFF; /* White */
}

.link.day {
    background-color: #003366; /* Deep Blue */
    color: #FFFFFF; /* White */
}

.link.day:hover {
    background-color: #4B5320; /* Bronze Green */
}

/* Night Mode */
body.night {
    background-color: #121212; /* Very Dark Gray */
    color: #D3D3D3; /* Light Gray */
}

.container.night {
    background-color: #333333; /* Dark Gray */
}

.link.night {
    background-color: #000080; /* Navy Blue */
    color: #D3D3D3; /* Light Gray */
}

.link.night:hover {
    background-color: #006400; /* Dark Green */
}
