/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.link {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Day Mode */
body.day {
    background-color: #F0F0F0;
    color: #333333;
}

.container.day {
    background-color: #FFFFFF;
}

.link.day {
    background-color: #007BFF;
    color: #FFFFFF;
}

.link.day:hover {
    background-color: #0056b3;
}

/* Night Mode */
body.night {
    background-color: #1A1A1A;
    color: #E0E0E0;
}

.container.night {
    background-color: #333333;
}

.link.night {
    background-color: #66B2FF;
    color: #1A1A1A;
}

.link.night:hover {
    background-color: #3399FF;
}
